# --- Python/Django ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.python-version

# venv
.venv/
venv/
env/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
collectstatic/

# Logs & caches
*.log
logs/
coverage/
htmlcov/
.pytest_cache/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Env
.env
.env.*
